/* src/app/light-position/light-position.component.scss */


@media screen and (orientation: portrait) {
  .rotate-message {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
    padding: 50px;
  }

  .landscape-container {
    display: none;
    /* Hide the light container in portrait mode */
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 1000px) and (orientation: landscape) {

  .landscape-container {
    display: block;
  }

  .tick-mark-towards-right {
    font-size: 50px;
    color: green;
    position: absolute;
    top: 65px;
    left: 135px;
    z-index: 1;
  }

  .light-container-towards-right {
    align-items: center;
    position: relative;
    width: 100%;
    /* Adjust as needed for your layout */
    height: 100%;
    /* Adjust as needed for your layout */
  }

  .head-towards-right {
    position: absolute;
    top: 40px;
    left: 77px;
    z-index: 1;
    /* Ensure it is above the foot */
    width: 170px;
  }

  .foot-towards-right {
    position: absolute;
    top: 130px;
    left: 0px;
    z-index: 2;
    /* Ensure it is below the head */
    width: 170px;
  }

  .beam-towards-right {
    position: absolute;
    top: -43px;
    /* Adjust this value to create the slight space */
    left: -15px;
    z-index: 0;
    /* Ensure it is below the head and foot */
    width: 600px;
    height: 302px;
  }

  .angle-number-towards-right {
    position: absolute;
    top: 55px;
    /* Adjust this value to position the number over the beam */
    left: 400px;
    z-index: 2;
    /* Ensure it is above the beam and other images */
    font-size: 70px;
    /* Adjust the font size as needed */
    color: white;
    /* Adjust the color as needed */
    font-weight: bold;
    /* Optional: make the number bold */
  }

  .rotate-message {
    display: none;
  }

  .dashed-line-1-towards-right {
    position: absolute;
    top: 47px;
    left: 240px;
    width: 51%;
    height: 5px;
    border-top: 2px dashed black;
    transform-origin: 0 0;
    /* Start of the line */
    transition: transform 0s ease-in-out;
    transform: rotate(-14deg);
    // transform: rotate3d(1, 1, 1, -27deg)
  }

  .dashed-line-2-towards-right {
    position: absolute;
    top: 166px;
    left: 234px;
    width: 52%;
    height: 5px;
    border-top: 2px dashed black;
    transform-origin: 0 0;
    /* Start of the line */
    transition: transform 0s ease-in-out;
    transform: rotate(14deg);
  }

  .flip-button {
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: 1;
  }

  .back-button {
    position: absolute;
    z-index: 1;
  }

  .tick-mark-towards-left {
    font-size: 50px;
    color: green;
    position: absolute;
    top: 70px;
    right: 135px;
    z-index: 1;
  }

  .light-container-towards-left {
    align-items: center;
    position: relative;
    width: 100%;
    /* Adjust as needed for your layout */
    height: 100%;
    /* Adjust as needed for your layout */
  }

  .head-towards-left {
    position: absolute;
    top: 40px;
    right: 77px;
    z-index: 1;
    /* Ensure it is above the foot */
    width: 170px;
  }

  .foot-towards-left {
    position: absolute;
    top: 130px;
    right: 0px;
    z-index: 2;
    /* Ensure it is below the head */
    width: 170px;
  }

  .beam-towards-left {
    position: absolute;
    top: -43px;
    /* Adjust this value to create the slight space */
    right: -15px;
    z-index: 0;
    /* Ensure it is below the head and foot */
    width: 600px;
    height: 302px;
  }

  .angle-number-towards-left {
    position: absolute;
    top: 55px;
    /* Adjust this value to position the number over the beam */
    right: 400px;
    z-index: 2;
    /* Ensure it is above the beam and other images */
    font-size: 70px;
    /* Adjust the font size as needed */
    color: white;
    /* Adjust the color as needed */
    font-weight: bold;
    /* Optional: make the number bold */
  }

  .dashed-line-1-towards-left {
    position: absolute;
    top: 46px;
    right: -115px;
    width: 51%;
    height: 5px;
    border-top: 2px dashed black;
    transform-origin: 0 0;
    /* Start of the line */
    transition: transform 0s ease-in-out;
    transform: rotate(194deg);
    // transform: rotate3d(1, 1, 1, -27deg)
  }

  .dashed-line-2-towards-left {
    position: absolute;
    top: 170px;
    right: -129px;
    width: 52%;
    height: 5px;
    border-top: 2px dashed black;
    transform-origin: 0 0;
    /* Start of the line */
    transition: transform 0s ease-in-out;
    transform: rotate(-194deg);
  }

}
