<div class="container landscape-container">
  <div class="row mt-3">
    <div class="col-1">
      <button class="btn" (onclick)="backButtonClick()"><i class="bi bi-chevron-left h1"></i></button>
    </div>
    <div class="col-11">
      <p class="text-center">Try to <span class="theme-color">overlap</span> the light with the stripes
        <br> (Perfect angle is <span class="theme-color">{{expectedAngle}}°</span>)
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="light-container-towards-right">
        <div *ngIf="isAngleCorrect()" class="tick-mark"><i class="bi bi-check-circle-fill"></i></div>
        <img src="assets/head_of_the_light_towards_right.png" class="head-towards-right" alt="Head of the light">
        <img src="assets/foot_of_the_light_towards_right.png" class="foot-towards-right" alt="Foot of the light">
        <img src="assets/orange_light_beam_towards_right.png" class="beam-towards-right" alt="Light beam"
          [ngStyle]="lightBeamStyle">
        <div class="angle-number-towards-right" [ngStyle]="angleNumberStyle">{{ angle | number:'1.1-1' }}°</div>
        <div class="dashed-line-1-towards-right" [ngStyle]="lineStyle1"></div>
        <div class="dashed-line-2-towards-right" [ngStyle]="lineStyle2"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn theme-color flip-button"><i class="bi bi-arrow-repeat h1"></i></button>
    </div>
  </div>
</div>

<div class="rotate-message">
  Please rotate your device to landscape mode.
</div>
