<div class="container">
  <div class="row align-items-top">
    <div class="col">
      <h1 class="mt-3 theme-color">Get started</h1>
    </div>
  </div>
  <div class="row align-items-top">
    <div class="col">
      <p>Avoid blinding people, adjust your bike lights in the right angle.</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-1">
      <div class="row  align-items-center h-50">
        <div class="col">
          <span id="boot-icon" class="bi bi-x-circle-fill h1 x-circle"></span>
        </div>
      </div>
      <div class="row  align-items-center h-50">
        <div class="col">
          <span id="boot-icon" class="bi bi-check-circle-fill h1 check-circle"></span>
        </div>
      </div>
    </div>
    <div class="col-11 align-items-center">
      <img src="assets/home_page_image.png" alt="Home Page" class="img-fluid">
    </div>
  </div>
  <div class="row align-items-end mt-5">
    <div class="col-6 offset-3">
      <button type="button" class="btn orange-button" (click)="goToChooseLight()">Choose your light</button>
    </div>
  </div>
</div>
